/*селектор{
	свойство1 : значение;
	свойство2 : значение;
	свойство3 : значение;
	свойство4 : значение;
}*/

h2 {
	color: #120eeb;
}
del {
	color: red;
}
b {
	color: #22e536;
}
i {
	color: #d48104;
}
ins {
	color: pink;
}